.text, h1, ul li{
    text-align: center;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

article{
    padding: 50px;
}

img{
    width: 600px;
}

.footer-box, ul li{
    display: flex;
    flex-direction: column;
}

.box{
    background-color: red;
}

.change-collor a:nth-child(odd){
    color: red;
}

.change-collor a:nth-child(even){
    color: green;
}