.hero-image{
    position: absolute;
    z-index: -1;
    height: 500px;
    width: 100%;
    top: 90px;
}

.hero{
    height: 500px;
    display: grid;
    align-content: center;
}

.hero h1{
   color: white;
   width: 700px;
}

.hero-image img,
.wrapper div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header nav{
    padding-top: 20px;
}

header nav .logo{
    height: 50px;
}

header nav ul{
    float: right;
}

.search ul{
    padding-top: 20px;
}

header nav ul li,
.search ul li{
    display: inline;
}

header nav ul li a,
.search ul li{
    text-decoration: none;
    color: rgb(124, 124, 124);
    margin: 15px;
}

header nav ul li button{
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid rgb(124, 124, 124);
    margin-left: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    height: 1000px;
}

.a,
.c{
    grid-row: 1/2;
 }

 .b{
    grid-row: 1/3; 
 }

.d,
.f{
    grid-row: 2/6;
}

.e{
    grid-row: 3/6;
}
